<?php

{% block use_statements %}
use Symfony\Component\HttpFoundation\ParameterBag;
use Tests\AbstractIntegrationTestCase;
{% endblock use_statements %}

{% block class_definition %}
class {{ test_class_name }} extends AbstractIntegrationTestCase
{% endblock class_definition %}
{
{% block class_body %}
    
    /** @test */
    public function shouldWork()
    {
    	$query = '
        mutation{ {{ mutation_name }}() {
          id
        }}
        ';
        $id = $this->gqlData($query,['{{ mutation_name }}','id']);
        
        //$this->assertEquals(1,$id);
        $this->markTestIncomplete(
          'This test was auto generated and has not been implemented yet.'
        );
    }
    

{% endblock class_body %}
}
