<?php
namespace {{ namespace }}\Resolver\{{ inner_namespace }}\Mutations;

{% block use_statements %}
use Symfony\Component\HttpFoundation\ParameterBag;
use Doctrine\ORM\EntityManager;
{% endblock use_statements %}

{% block class_definition %}
class {{ class_name }}
{% endblock class_definition %}
{
{% block class_body %}
    
    protected $em;
    
    public function __construct(EntityManager $em)
    {
        $this->em = $em;
    }
    
    public function resolve(ParameterBag $data)
    {
    	return ['id'=>'generated mutation. Not yet implemented.'];
    }
    

{% endblock class_body %}
}